# Ignore everything
*

# But not these files...

# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/crazyflie_firmware/simulink-model/closed_loop_script.m
!*/crazyflie_firmware/simulink-model/closed_loop.slx
!*/crazyflie_firmware/simulink-model/crazyflie_wrapper.tlc
!*/crazyflie_firmware/simulink-model/crazyflie.slx
!*/crazyflie_firmware/simulink-model/open_loop.slx
!*/crazyflie_firmware/simulink-model/params.m
!*/crazyflie_firmware/simulink-model/plant.ssc
!*/crazyflie_firmware/simulink-model/sensors.sscp
!.gitignore